.listingText {
    align-self: center;
    width: auto;
    margin-top: 0%;
    justify-self:center;
    color:rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    text-shadow: -1px 1px 30px rgb(240, 240, 240);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(240, 240, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.listingButton {
    box-shadow: 0px 10px 14px -7px rgb(0,80,80);
    background:linear-gradient(to bottom, rgb(12, 200, 200) 5%, rgb(5, 120, 120) 100%);
    background-color:rgb(5,120,120);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:rgb(245, 245, 245);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    max-width: fit-content;
    max-height: fit-content;
    text-decoration:none;
    border-color: rgb(0,80,80);
    border-width: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-shadow:0px 1px 0px rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}
.listingButton:hover {
    background:linear-gradient(to bottom, rgb(5,120,120) 5%, rgb(20, 220, 220) 100%);
    background-color:rgb(88, 143, 143);
    color:rgb(255, 255, 255);
    border-color: rgb(0,80,80);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}
.listingButton:active {
    position:relative;
    top:0.5px;
}