.singleList {
    background:linear-gradient(to bottom, rgb(230,230,250) 5%, rgb(200, 220, 220) 100%);
    position: relative;
    height: max-content;
}

.body{
    color:rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:rgb(240, 240, 240);
}

.heading {
    color:rgb(65, 65, 65);
    text-shadow:1px 1px 1px rgb(10, 180, 180);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}

.containerShow{
    box-shadow: 0px 0px 10px teal;
    padding: 30px;
    border-radius: 0px;
}

.description{
    border-top: 5px solid rgb(40, 80, 80);
}

.price {
    font-family: 'Bangers';
    font-size: 50px;
    color:rgb(75, 75, 75);
    text-shadow:2px 2px 2px rgb(10, 180, 180);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}

.sub1{
    border: 2px rgb(40, 40, 40);
    border-radius: 0px;

}
.photo{
    border-radius: 30px;
    padding: 10px;
    border: 2px rgb(5, 120, 120);
}

image{
    filter: grayscale(30%) brightness(0.8) ;
}