.categoryBtn{
    background-color:white; 
    margin-top: 15px;
    margin-left: 15px;
    transition-duration: 0.6s;
    color: teal;
    border-color: teal;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
}

.categoryBtn:hover{
    background-color:teal;
    color: black;
    
}

.sortBtn{
    box-shadow: 0px 10px 14px -7px rgb(0,80,80);
    background:linear-gradient(to bottom, rgb(12, 200, 200) 5%, rgb(5, 120, 120) 100%);
    text-align: center;
    margin-top: 15px;
    transition-duration: 0.6s;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 8px;
    border-width: 0px;
    color:rgb(245, 245, 245);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
}